
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}
nav{
    width: 100vw;
    height: 80px;
    background-color: rgb(224, 8, 8);
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
#container{
    display: flex;
    margin-top: auto;
    flex-direction: column;
}
#imagem{
    width: 500px;
    text-align: center;
}
footer{

    height: 40px;
    background-color: rgb(143, 14, 14);
}
footer > p{
    text-align: center;
    color: white ;
}